<html>
   <head>
      <title>
         OCS Inventory
      </title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
   </head>
   <body>
      <div style="Margin:0px auto;max-width:600px;">
         <table align="center" style="width:100%;">
            <tbody>
               <tr>
                  <td style="padding:0px;text-align:center;">
                     <div style="font-size:16px;font-weight:300;line-height:24px;text-align:center;color:#616161;">
                        OCS Inventory Summary
                     </div>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
      <div style="Margin:0px auto;max-width:600px;">
         <table align="center" style="width:100%;">
            <tbody>
               <tr>
                  <td style="padding:0px;padding-top:30px;text-align:center;">
                     <div>
                        <table>
                           <tr>
                              <td>
                                 <div style="font-size:16px;font-weight:300;line-height:24px;text-align:left;color:#616161;">
                                    <p>
                                       {{g.8013}}
                                    </p>
                                 </div>
                              </td>
                           </tr>
                        </table>
                     </div>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
      <div style="Margin:0px auto;max-width:600px;">
         <table align="center" style="width:100%;">
            <tbody>
               <tr>
                  <td style="padding:0px;text-align:center;">
                     <h4>{{g.2130}}</h4>
                     <div>
                        <table width="100%">
                           <tr>
                              <td>
                                 {{Report.Asset}}
                              </td>
                           </tr>
                        </table>
                     </div>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
      <br>
      <div style="Margin:0px auto;max-width:600px;">
         <table align="center" style="width:100%;">
            <tbody>
               <tr>
                  <td style="padding:0px;text-align:center;">
                     <h4>{{g.1500}}</h4>
                     <div>
                        <table width="100%">
                           <tr>
                              <td>
                                 {{Report.Software}}
                              </td>
                           </tr>
                        </table>
                     </div>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </body>
</html>